.vertical-slider {
  --fill-color: #926bc7;
  --track-color: #e8e0f3;
  --border-radius: 1.5rem;
  --fill-border-radius: 0.5rem;
  --inner-thumb-width: 3rem;
  --slider-height: 200px;
  height: var(--slider-height);
  width: 7rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.track {
  height: 100%;
  width: 100%;
  background: var(--track-color);
  border-radius: var(--border-radius);
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.fill {
  position: absolute;
  inset: 0;
  background: var(--fill-color);
  border-radius: var(--fill-border-radius);
  height: calc(100% + var(--top-padding) + var(--bottom-padding));
}

.thumb {
  width: 100%;
  height: 30px;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  cursor: grab;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thumb-inner {
  width: var(--inner-thumb-width);
  height: 4px;
  background: #ffffff;
  border-radius: 100vw;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
